.clear { clear: both; }

body {
    background: url('/image/1_0_home_bg_2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.body {
    width: 990px;
    margin-right: auto;
    margin-left: auto;
}

a:link, a:visited, a:active, a:hover {color: black; text-decoration: none;}

header {
    margin-top: 34px;
}

#header_logo {
    width: 570px;
    height: 80px;
    overflow: hidden;
    float: left;
}

#header_logo img {
    position: relative;
    left: -20px;
}

#header_search {
    float: right;
    margin-top: 10px;
    vertical-align: middle;
}

#search_button {
    display: inline;
    vertical-align: middle;
}

span.login {
    color: #E95513;
    font-size: 12px;
    line-height: 50px;
}

nav { margin-top: 30px; }

nav ul {
    list-style: none;
    padding-left: 18px;
    margin: 0;
}

nav ul li {
    float: left;
    margin-right: 10px;
}

#content {
    margin: 90px 18px 200px 18px;
}

#main {
    color: white;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 972px;
    height: 1053px;
    left: 0px;
    top: 0px;
}
#main a:link, #main a:visited, #main a:active, #main a:hover {
    color: white;
    text-decoration: none;
}

#main .main_hover {
    -moz-box-shadow: 0px 0px 30px #AA0; /* Firefox */
    -webkit-box-shadow: 0px 0px 30px #AA0;/* Safari, Chrome */
    box-shadow: 0px 0px 30px #AA0; /* Opera 10.0 + */
}

#main-1 {
    float: left;
    position: relative;
    left: 0px;
    top: 0px;
    width: 459px;
    height: 270px;
    background-color: black;
    background-image: url('../image/main/1.jpg');
}

#main-2 {
    float: left;
    position: relative;
    left: 18px;
    top: 0px;
    width: 153px;
    height: 270px;
    background-color: black;
    background-image: url('../image/main/2.jpg');
}

#main-3 {
    float: left;
    position: relative;
    left: 36px;
    top: 0px;
    width: 324px;
    height: 522px;
    background-color: black;
    background-image: url('../image/main/3.jpg');
}

#main-4 {
    float: left;
    position: relative;
    left: 0px;
    top: -234px;
    width: 306px;
    height: 234px;
    background-color: black;
    background-image: url('../image/main/4.jpg');
}

#main-5 {
    float: left;
    position: relative;
    left: 18px;
    top: -234px;
    width: 306px;
    height: 234px;
    background-color: black;
    background-image: url('../image/main/5.jpg');
}

#main-6 {
    float: left;
    position: relative;
    left: 0px;
    top: -216px;
    width: 477px;
    height: 234px;
    background-image: url('../image/main/6.jpg');
}

#main-7 {
    float: left;
    position: relative;
    left: 18px;
    top: -216px;
    width: 477px;
    height: 234px;
    background-image: url('../image/main/7.jpg');
}

#main-8 {
    float: left;
    position: relative;
    left: 0px;
    top: -198px;
    width: 387px;
    height: 261px;
    background-image: url('../image/main/8.jpg');
}

#main-9 {
    float: left;
    position: relative;
    left: 18px;
    top: -198px;
    width: 351px;
    height: 261px;
    background-image: url('../image/main/9.jpg');
}

#main-10 {
    float: left;
    position: relative;
    left: 36px;
    top: -198px;
    width: 198px;
    height: 261px;
    background-image: url('../image/main/10.jpg');
}

#banner-1 {
    position: relative;
    top: 240px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    background-color: #EA001B;
}

#banner-2 {
    position: relative;
    top: 240px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    background-color: #EB007B;
}

#banner-3 {
    position: relative;
    top: 492px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    background-color: #EA001B;
}

#banner-4 {
    position: relative;
    top: 204px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    background-color: #EB007B;
}

#banner-5 {
    position: relative;
    top: 204px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    background-color: #EB007B;
}

#banner-6 {
    position: relative;
    top: 204px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    background-color: #F2431C;
}

#banner-7 {
    position: relative;
    top: 204px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    background-color: #89C144;
}

#banner-8 {
    position: relative;
    top: 231px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    background-color: #F49531;
}

#banner-9 {
    position: relative;
    top: 231px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    background-color: #00AA4A;
}

#banner-10 {
    position: relative;
    top: 231px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 10px;
    text-align: left;
    background-color: #17A7DC;
}

.shadow {
    -moz-box-shadow: 5px 5px 10px #444; /* Firefox */
    -webkit-box-shadow: 5px 5px 10px #444;/* Safari, Chrome */
    box-shadow: 5px 5px 10px #444; /* Opera 10.5 + */
}

#qa {
    margin: auto;
    width: 800px;
    height: 700px;
    background: #DDDDDD;
}

#about, #news {
    width: 700px;
}

#about div.post, #news div.post {
    margin: 30px auto;
}

#about div.title {
    float: left;
    font-size: 14px;
    color: #F2431C;
}

#news div.title {
    float: left;
    font-size: 14px;
    color: #EB007B;
}

#about div.update_date, #news div.update_date {
    float: right;
}

#about div.content, #news div.content {
    width: 550px;
    margin: auto;
}

#about div.photo, #news div.photo {
    float: left;
    width: 120px;
    height: 120px;
    background-color: grey;
}

#about .big_photo, #news .big_photo {
    margin: 10px;
    background-color: grey;
}

#about div.article, #news div.article {
    float: right;
    width: 400px;
    color: grey;
    text-align: left;
    font-family: 'Droid Sans Mono', sans-serif;
}

#event {
    width: 650px;
    font-size: 12px;
}

#event div.title{
    float: left;
    font-size: 14px;
    color: #F49600;
}

#event div.update_date{
    float: right;
}

#event table {
    text-align: left;
}

#event td, #event th {
    padding: 5px;
}

#event table .year {
    color: #956036;
    background-color: white;
}

#event table .date {
    color: grey;
}
#event table .activity {
    color: #2AA7DF;
    background-color: white;
}

#sunriser {
    width: 700px;
}

#sunriser div.title{
    float: left;
    font-size: 14px;
    color: #89C144;
    margin-top: 40px;
}

#sunriser ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#sunriser li {
    text-align: left;
}

#sunriser li a:hover {
    color: #666;
}

#album {
    margin: auto;
    width: 800px;
}

#album .cell {
    float: left;
    margin: 10px;
    width: 240px;
    height: 240px;
}

#contact {
    text-align: left;
}

#contact a:hover {
    color: #666;
}

footer {
    height: 63px;
    padding: 15px 23px;
}

#footer_left {
    float: left;
    color: #58595B;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}

#footer_right {
    float: right;
    color: #58595B;
    font-size: 12px;
}

#footer_right a:link, #footer_right a:visited {
    color: #58595B;
}

#footer_right a:hover {
    color: #98999B;
}

#p1 {
    margin-left: 6px;
    text-align: left;
}

#p1 .title {
    float: left;
}

#p1 .subtitle {
    font-size: 14px;
    margin-left: 22px;
    float: left;
}

#p1 .subscribe {
    font-size: 14px;
    margin-left: 22px;
    float: right;
}

#p1 .subscribe a:hover {
    color:  #333;
}

#p1 .big {
    float: left;
    margin-top: 11px;
}

#p1 .say {
    float: left;
    margin-left: 8px;
    height: 270px;
}

#p1 .say_title {
    margin: 15px 8px;
    font-size: 14px;
    color: #c1272d;
}

#p1 .say_content {
    margin: 10px 12px;
    font-size: 12px;
    color: #333333;
    width: 180px;
    height: 200px;
    word-wrap: break-word;
}

#p1 #left {
    float:  left;
    width:  350px;
/*     height: 365px; */
    margin-right:   8px;
}

#p1 #right {
    float:  left;
    width:  350px;
/*     height: 365px; */
}

#p1 #bottom {
    height: 105px;
    margin-bottom:  40px;
}

#p1 .block_75 {
    float:  left;
    width:  350px;
/*     height: 75px; */
    margin-bottom:  7px;
    margin-top:     7px;
    overflow: hidden;
}

#p1 .block_254 {
    float:  left;
    width:  350px;
/*     height: 254px; */
    margin-bottom:  10px;
    margin-top:     7px;
    overflow: hidden;
}

#p1 .block_95 {
/*     height: 102px; */
    margin-bottom:  7px;
    margin-top:     7px;
    overflow: hidden;
}

#p1 .red_75 {
    float:  left;
    width:  5px;
/*     height: 75px; */
    height: 99%;
    background:     #DC3117;
    padding-bottom: 500px;
    margin-bottom: -500px;
}

#p1 .red_title {
    color:  #DC3117;
    font-size:      13px;
    margin-left:    8px;
    margin-bottom:  14px;
}

#p1 .light_green_75 {
    float:  left;
    width:  5px;
/*     height: 75px; */
    background:     #B0D370;
    padding-bottom: 500px;
    margin-bottom: -500px;
}

#p1 .light_green_title {
    color:  #B0D370;
    font-size:      13px;
    margin-left:    8px;
    margin-bottom:  14px;
}

#p1 .green_75 {
    float:  left;
    width:  5px;
/*     height: 75px; */
    background:     #4FBB69;
    padding-bottom: 500px;
    margin-bottom: -500px;
}

#p1 .green_title {
    color:  #4FBB69;
    font-size:      13px;
    margin-left:    8px;
    margin-bottom:  14px;
}

#p1 .blue_75 {
    float:  left;
    width:  5px;
/*     height: 75px; */
    background: #169DDC;
    padding-bottom: 500px;
    margin-bottom: -500px;
}

#p1 .blue_title {
    color:  #169DDC;
    font-size:      13px;
    margin-left:    8px;
    margin-bottom:  14px;
}

#p1 .orange_254 {
    float:  left;
    width:  5px;
/*     height: 254px; */
    background: #F2A546;
    padding-bottom: 500px;
    margin-bottom: -500px;
}

#p1 .orange_title {
    color:  #F2A546;
    font-size:      13px;
    margin-left:    8px;
    margin-bottom:  14px;
}

#p1 .brown_75 {
    float:  left;
    width:  5px;
/*     height: 75px; */
    background: #B0927C;
    padding-bottom: 500px;
    margin-bottom: -500px;
}

#p1 .brown_title {
    color:  #B0927C;
    font-size:      13px;
    margin-left:    8px;
    margin-bottom:  14px;
}

#p1 .pink_95 {
    float:  left;
    width:  5px;
/*     height: 95px; */
    background: #E5AED3;
    padding-bottom: 500px;
    margin-bottom: -500px;
}

#p1 .pink_title {
    color:  #E5AED3;
    font-size:      13px;
    margin-left:    8px;
    margin-bottom:  14px;
}

#p1 .block_content {
    float:  left;
    color:  #4D4D4D;
    font-size:  11px;
    margin-left: 10px;
}

#p1 .block_content_title {
    color:  #000000;
    font-size:  15px;
    margin: 0px;
}

#p1 .block_content_title:hover {
    color:  #444444;
}

#p1 .block_content ul {
    margin:     0 0 0 25px;
    padding:    0px;
}

#p1 .block_content ul li p {
    margin:     8px 0 10px 0;
    padding:    0;
    width:      225px;
}

#p1 .block_content ul a li p {
    color: #4D4D4D;
}

#p1 .block_pic {
    float:  right;
    width:  75px;
    height: 75px;
    background: black;
}

#p1 .bottom_list {
    color:  #000000;
    font-size:  14px;
    margin-bottom:  -17px;
}

#p1 .bottom_content {
    position: relative;
    left: 100px;
    top:    -14px;
}

#p1 .bottom_link {
    font-size:  14px;
    color:  #0000FF;
}

#p1 .bottom_link a {
    font-size:  14px;
    color:  #0000FF;
}

#p1 .bottom_link a:hover {
    font-size:  14px;
    color:  #9999FF;
}

#p1 #bottom .bottom_list .triangle {
    position: relative;
    left: 18px;
}

#p1 hr.dotline {
    width: 100%;
    margin: 0;
    border:1px dotted #BBBBBB;
    height:0px;
}

#p1 hr.dashline {
    width: 100%;
    margin: 0;
    border:1px dashed #BBBBBB;
    height:0px;
}

#p1 #editors {
    width:  710px;
/*     height: 120px; */
    color:  #FFFFFF;
    background: #999999;
}

#p1 #editors_left {
    float: left;
}

#p1 #editors_left table {
    padding-left: 5px;
}

#p1 #editors_left table tr td {
    padding: 4px;
}

#p1 #editors_right table {
    padding-left: 10px;
}

#p1 #editors_right table tr td {
    padding: 4px;
}

#p1 #editors_right {
    float: left;
}
