<div id="contact">
  <p>
    理事長 <a href="&#109;&#97;&#105;&#108;&#x74;&#111;:&#x63;&#x68;&#97;i&#114;&#x6D;&#97;&#110;&#64;&#x73;&#x75;&#110;&#x72;&#105;&#x73;&#101;&#114;&#x2E;&#116;&#x77;">&#x63;&#x68;&#97;i&#114;&#x6D;&#97;&#110;&#64;&#x73;&#x75;&#110;&#x72;&#105;&#x73;&#101;&#114;&#x2E;&#116;&#x77;</a> <br />
    文宣部 <a href="&#x6D;&#97;i&#108;&#x74;o:&#97;&#100;&#118;&#x65;&#x72;t&#x69;&#x73;&#x65;&#64;&#x73;&#x75;&#110;&#x72;&#105;&#115;&#x65;r&#46;&#x74;w">&#97;&#100;&#118;&#x65;&#x72;t&#x69;&#x73;&#x65;&#64;&#x73;&#x75;&#110;&#x72;&#105;&#115;&#x65;r&#46;&#x74;w</a> <br />
    學術部 <a href="&#x6D;&#97;&#105;&#108;&#116;&#111;:&#x61;&#x63;&#x61;&#100;&#101;&#x6D;&#105;&#x63;&#64;&#115;&#117;&#x6E;&#x72;&#105;&#115;&#x65;r&#x2E;&#116;w">&#x61;&#x63;&#x61;&#100;&#101;&#x6D;&#105;&#x63;&#64;&#115;&#117;&#x6E;&#x72;&#105;&#115;&#x65;r&#x2E;&#116;w</a> <br />
<!--     公關部 <a href="&#x6D;&#x61;&#x69;&#108;&#116;&#111;:&#x50;&#x52;&#64;&#115;&#x75;&#110;&#x72;&#105;se&#x72;&#46;t&#119;">&#x50;&#x52;&#64;&#115;&#x75;&#110;&#x72;&#105;se&#x72;&#46;t&#119;</a> <br /> -->
    資訊部 <a href="&#x6D;&#x61;&#x69;&#108;&#116;o:&#105;&#110;f&#x6F;&#64;&#x73;&#117;&#110;&#x72;&#x69;&#x73;&#101;&#114;&#x2E;&#x74;&#119;">&#105;&#110;f&#x6F;&#64;&#x73;&#117;&#110;&#x72;&#x69;&#x73;&#101;&#114;&#x2E;&#x74;&#119;</a> <br>
  </p>
  統一編號：48860555<br>
  捐款帳號：中國信託(822) 大安分行 602540-119516<br>
  戶名：台北市朝陽資優教育交流協會<br>
</div>
