<div id="event">
  <div class="title">朝陽大事記</div>
  <div class="update_date">2011.9.21</div>
  <div class="clear"></div>
  <hr>
  <table width="100%" cellspacing="0">
    <tr><th class="year">年份</th><th class="date">活動日期</th><th class="activity">活動內容</th></tr>
    <tr><td class="year" class="year">1994 年</td><td class="date">9/25</td><td class="activity">朝陽十三屆實驗性活動</td></tr>
    <tr><td class="year"></td><td class="date">10月</td><td class="activity">朝陽十三屆第一次會員活動－－擎天崗</td></tr>
    <tr><td class="year"></td><td class="date">12/25</td><td class="activity">朝陽十三屆第二次會員活動－－聖誕舞會</td></tr>
    <tr><td class="year">1995年</td><td class="date">4/7</td><td class="activity">朝陽十三屆第三次會員活動－－苗栗長青谷</td></tr>
    <tr><td class="year"></td><td class="date">7/17 ~ 19</td><td class="activity">朝陽十三屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">7/24</td><td class="activity">朝陽十三、十四屆人性空間集會</td></tr>
    <tr><td class="year"></td><td class="date">8/6</td><td class="activity">朝陽八至十四屆幹部聯合會議</td></tr>
    <tr><td class="year"></td><td class="date">8/14 ~ 15</td><td class="activity">朝陽十四屆金山幹訓</td></tr>
    <tr><td class="year"></td><td class="date">8/22</td><td class="activity">朝陽十四屆成立</td></tr>
    <tr><td class="year"></td><td class="date">10/1</td><td class="activity">朝陽十四屆實驗性活動</td></tr>
    <tr><td class="year"></td><td class="date">11/5</td><td class="activity">朝陽十四屆第一次會員活動－－曙光乍現</td></tr>
    <tr><td class="year"></td><td class="date">12/30</td><td class="activity">朝陽十四屆第二次會員活動－－舞夢朝陽</td></tr>
    <tr><td class="year">1996年</td><td class="date">2/14 ~ 15</td><td class="activity">朝陽十四屆第二次幹部訓練</td></tr>
    <tr><td class="year"></td><td class="date">3/31 ~ 4/1</td><td class="activity">朝陽十四屆第三次會員活動－－守住這一片陽光</td></tr>
    <tr><td class="year"></td><td class="date">7/16 ~ 19</td><td class="activity">朝陽十四屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">7/31</td><td class="activity">朝陽十四、十五屆人性空間集會</td></tr>
    <tr><td class="year"></td><td class="date">8/6 ~ 7</td><td class="activity">朝陽十五屆金山幹訓</td></tr>
    <tr><td class="year"></td><td class="date">8/26</td><td class="activity">朝陽十五屆成立</td></tr>
    <tr><td class="year"></td><td class="date">9/28</td><td class="activity">朝陽十五屆實驗性活動</td></tr>
    <tr><td class="year"></td><td class="date">11/17</td><td class="activity">朝陽十五屆第一次會員活動－－笑傲金烏</td></tr>
    <tr><td class="year">1997年</td><td class="date">1/4</td><td class="activity">朝陽十五屆第二次會員活動－－大家來找茶</td></tr>
    <tr><td class="year"></td><td class="date">2/10 ~ 11</td><td class="activity">朝陽十五屆第二次幹部訓練</td></tr>
    <tr><td class="year"></td><td class="date">3/31 ~ 4/2</td><td class="activity">朝陽十五屆會員過夜性活動－－燃燒吧！朝陽！</td></tr>
    <tr><td class="year"></td><td class="date">7/16 ~ 19</td><td class="activity">朝陽十五屆畢業生營－－洋洋揚陽</td></tr>
    <tr><td class="year"></td><td class="date">8/5 ~ 6</td><td class="activity">朝陽十六屆金山幹部訓練</td></tr>
    <tr><td class="year"></td><td class="date">8/11</td><td class="activity">朝陽十二至十五屆幹部聯合會議</td></tr>
    <tr><td class="year"></td><td class="date">8月</td><td class="activity">朝陽十六屆成立</td></tr>
    <tr><td class="year"></td><td class="date">9/28</td><td class="activity">朝陽十六屆實驗性活動</td></tr>
    <tr><td class="year"></td><td class="date">11/16</td><td class="activity">朝陽十六屆第一次會員活動</td></tr>
    <tr><td class="year">1998年</td><td class="date">1/3</td><td class="activity">朝陽十六屆第二次會員活動（舞會）</td></tr>
    <tr><td class="year"></td><td class="date">2/28 ~ 3/1</td><td class="activity">朝陽十六屆第二次幹訓</td></tr>
    <tr><td class="year"></td><td class="date">7/12 ~ 16</td><td class="activity">朝陽十四屆第四次會員活動－－畢業生營PART2</td></tr>
    <tr><td class="year"></td><td class="date">7/31 ~ 8/3</td><td class="activity">朝陽十六屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">8/11 ~ 12</td><td class="activity">朝陽十七屆龍門幹部訓練</td></tr>
    <tr><td class="year"></td><td class="date">8/20</td><td class="activity">朝陽十七屆成立</td></tr>
    <tr><td class="year"></td><td class="date">9/27</td><td class="activity">朝陽十七屆實驗性活動</td></tr>
    <tr><td class="year"></td><td class="date">11/15</td><td class="activity">朝陽十七屆第一次會員活動－－朝思暮陽</td></tr>
    <tr><td class="year">1999年</td><td class="date">1/2</td><td class="activity">朝陽十七屆第二次會員活動－－朝九晚舞</td></tr>
    <tr><td class="year"></td><td class="date">2/12 ~ 13</td><td class="activity">朝陽十七屆幹訓－－情定朝陽</td></tr>
    <tr><td class="year"></td><td class="date">4/7 ~ 8</td><td class="activity">朝陽十七屆會員過夜性活動－－今天不回家</td></tr>
    <tr><td class="year"></td><td class="date">7/26 ~ 29</td><td class="activity">朝陽十七屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">7/30 ~ 8/2</td><td class="activity">朝陽十五屆第四次會員活動－－ＰＡ．朝陽</td></tr>
    <tr><td class="year"></td><td class="date">9/19</td><td class="activity">朝陽十八屆實驗性活動</td></tr>
    <tr><td class="year"></td><td class="date">12/26</td><td class="activity">朝陽十八屆第一次會員活動－－禧氣陽陽</td></tr>
    <tr><td class="year">2000年</td><td class="date">2/19 ~ 20</td><td class="activity">朝陽十八屆神ㄇㄥˇ金山幹訓</td></tr>
    <tr><td class="year"></td><td class="date">4/5 ~ 6</td><td class="activity">朝陽十八屆第二次會員活動－－Free Night</td></tr>
    <tr><td class="year"></td><td class="date">7/16 ~ 19</td><td class="activity">朝陽十八屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">8月</td><td class="activity">朝陽十八、十九屆人性空間集會</td></tr>
    <tr><td class="year"></td><td class="date">8/9 ~ 10</td><td class="activity">朝陽十九屆陽明山幹訓</td></tr>
    <tr><td class="year"></td><td class="date">8/21</td><td class="activity">朝陽十九屆成立</td></tr>
    <tr><td class="year"></td><td class="date">9/23</td><td class="activity">朝陽十九屆實驗性活動－－再一次親密接觸</td></tr>
    <tr><td class="year"></td><td class="date">12/17</td><td class="activity">朝陽十九屆第一次會員活動－－飛向朝陽飛向你</td></tr>
    <tr><td class="year">2001年</td><td class="date">1/21</td><td class="activity">朝陽十九屆國父紀念館茶會</td></tr>
    <tr><td class="year"></td><td class="date">2/10 ~ 11</td><td class="activity">朝陽十九屆金山幹訓－－墓仔埔也敢去</td></tr>
    <tr><td class="year"></td><td class="date">4/2 ~ 3</td><td class="activity">朝陽十九屆第二次會員活動－－舞夜太坪陽</td></tr>
    <tr><td class="year"></td><td class="date">7/15 ~ 18</td><td class="activity">朝陽十九屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">7/26</td><td class="activity">朝陽十九、二十屆人性空間集會</td></tr>
    <tr><td class="year"></td><td class="date">8/4 ~ 5</td><td class="activity">朝陽二十屆陽明山幹訓</td></tr>
    <tr><td class="year"></td><td class="date">8/12</td><td class="activity">朝陽二十屆成立</td></tr>
    <tr><td class="year"></td><td class="date">8/19</td><td class="activity">朝陽第三次跨屆大會（十七屆主辦）</td></tr>
    <tr><td class="year"></td><td class="date">9/15</td><td class="activity">朝陽二十屆實驗性活動</td></tr>
    <tr><td class="year"></td><td class="date">12/16</td><td class="activity">朝陽二十屆第一次會員活動－－椰風樹林朝陽天</td></tr>
    <tr><td class="year">2002年</td><td class="date">2/2 ~ 3</td><td class="activity">朝陽二十屆第二次會員活動－－懸疑朝陽夜 Let's Dance!</td></tr>
    <tr><td class="year"></td><td class="date">4/13 ~ 14</td><td class="activity">朝陽二十屆金山幹訓－－日落金山 朝陽不敗</td></tr>
    <tr><td class="year"></td><td class="date">7/13 ~ 16</td><td class="activity">朝陽二十屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">8/3 ~ 4</td><td class="activity">朝陽二十一屆陽明山幹訓</td></tr>
    <tr><td class="year"></td><td class="date">8/9</td><td class="activity">朝陽二十一屆成立</td></tr>
    <tr><td class="year"></td><td class="date">8/17</td><td class="activity">朝陽第四次跨屆大會（十八屆主辦）</td></tr>
    <tr><td class="year"></td><td class="date">9/15</td><td class="activity">朝陽二十一屆實驗性活動</td></tr>
    <tr><td class="year"></td><td class="date">12/21</td><td class="activity">朝陽二十一屆第一次會員活動－－朝陽初體驗</td></tr>
    <tr><td class="year">2003年</td><td class="date">2/28 ~ 1</td><td class="activity">朝陽二十一屆第二次會員活動－－朝陽2003舞在青山</td></tr>
    <tr><td class="year"></td><td class="date">4/12 ~ 13</td><td class="activity">朝陽二十一屆幹訓</td></tr>
    <tr><td class="year"></td><td class="date">8/9 ~ 13</td><td class="activity">朝陽二十一屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">8/17</td><td class="activity">朝陽第五次跨屆大會（十九屆主辦）</td></tr>
    <tr><td class="year"></td><td class="date">8/19</td><td class="activity">朝陽二十一、二十二屆人性空間集會</td></tr>
    <tr><td class="year"></td><td class="date">8/26</td><td class="activity">朝陽二十二屆成立</td></tr>
    <tr><td class="year"></td><td class="date">8/23 ~ 24</td><td class="activity">朝陽二十二屆陽明山幹訓</td></tr>
    <tr><td class="year"></td><td class="date">10/19</td><td class="activity">朝陽二十二屆實驗性活動</td></tr>
    <tr><td class="year"></td><td class="date">12/14</td><td class="activity">朝陽二十二屆第一次會員活動－－青春飛陽</td></tr>
    <tr><td class="year">2004年</td><td class="date">2/6 ~ 7</td><td class="activity">朝陽二十二屆第二次會員活動－－耀舞陽威</td></tr>
    <tr><td class="year"></td><td class="date">7/31 ~ 3</td><td class="activity">朝陽二十二屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">8/18 ~ 19</td><td class="activity">朝陽二十三屆陽明山幹訓</td></tr>
    <tr><td class="year"></td><td class="date">8/21</td><td class="activity">朝陽第六次跨屆大會（二十屆主辦）</td></tr>
    <tr><td class="year"></td><td class="date">8/23</td><td class="activity">朝陽二十三屆成立</td></tr>
    <tr><td class="year"></td><td class="date">10/17</td><td class="activity">朝陽二十三屆實驗性活動</td></tr>
    <tr><td class="year"></td><td class="date">12/19</td><td class="activity">朝陽二十三屆第一次會員活動－－sun陽1219</td></tr>
    <tr><td class="year">2005年</td><td class="date">1/29 ~ 30</td><td class="activity">朝陽二十三屆第二次會員活動－－青舞飛陽</td></tr>
    <tr><td class="year"></td><td class="date">3/5 ~ 6</td><td class="activity">朝陽二十三屆幹訊</td></tr>
    <tr><td class="year"></td><td class="date">7/15 ~ 17</td><td class="activity">朝陽二十三屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">7/28</td><td class="activity">朝陽十三至二十三屆幹部代表會議</td></tr>
    <tr><td class="year"></td><td class="date">8/21</td><td class="activity">朝陽第七次跨屆大會（二十一屆主辦）</td></tr>
    <tr><td class="year"></td><td class="date">10/16</td><td class="activity">朝陽二十四屆實驗性活動－－實ＳＵＮ派對</td></tr>
    <tr><td class="year"></td><td class="date">12/18</td><td class="activity">朝陽二十四屆第一次會員活動－－魅力是ＳＵＮ</td></tr>
    <tr><td class="year">2006年</td><td class="date">1/22</td><td class="activity">朝陽資優教育交流協會－－第一次籌備會議</td></tr>
    <tr><td class="year"></td><td class="date">1/23 ~ 24</td><td class="activity">朝陽二十四屆第二次會員活動－－ＳＵＮ舞見青曦</td></tr>
    <tr><td class="year"></td><td class="date">2/5</td><td class="activity">朝陽資優教育交流協會－－第二次籌備會議</td></tr>
    <tr><td class="year"></td><td class="date">2/11</td><td class="activity">朝陽資優教育交流協會－－第三次籌備會議</td></tr>
    <tr><td class="year"></td><td class="date">2/25 ~ 26</td><td class="activity">朝陽二十四屆陽明山幹訓</td></tr>
    <tr><td class="year"></td><td class="date">3/5</td><td class="activity">朝陽資優教育交流協會－－成立大會</td></tr>
    <tr><td class="year"></td><td class="date">7/21 ~ 24</td><td class="activity">朝陽二十四屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">8/20</td><td class="activity">朝陽第八次跨屆大會（二十二屆主辦）</td></tr>
    <tr><td class="year"></td><td class="date">10/15</td><td class="activity">朝陽二十五屆實驗性活動－－驗陽高朝</td></tr>
    <tr><td class="year"></td><td class="date">11/18</td><td class="activity">第一屆朝陽盃壘球紅白對抗賽</td></tr>
    <tr><td class="year"></td><td class="date">11/19</td><td class="activity">朝陽4th理事會</td></tr>
    <tr><td class="year"></td><td class="date">12/17</td><td class="activity">朝陽二十五屆第一次會員活動－－陽光一舊</td></tr>
    <tr><td class="year">2007年</td><td class="date">2/4</td><td class="activity">第一屆朝陽年度尾牙</td></tr>
    <tr><td class="year"></td><td class="date">2/12 ~ 13</td><td class="activity">朝陽二十五屆第二次會員活動－－朝二晚ㄨˇ</td></tr>
    <tr><td class="year"></td><td class="date">2/25</td><td class="activity">朝陽5th理事會</td></tr>
    <tr><td class="year"></td><td class="date">3/10 ~ 11</td><td class="activity">朝陽二十五屆陽明山自幹自訓</td></tr>
    <tr><td class="year"></td><td class="date">5/27</td><td class="activity">朝陽6th理事會</td></tr>
    <tr><td class="year"></td><td class="date">7/20 ~ 23</td><td class="activity">朝陽二十五屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">8/4 ~ 5</td><td class="activity">朝陽二十五屆陽明山幹訓二十六屆</td></tr>
    <tr><td class="year"></td><td class="date">8/10</td><td class="activity">朝陽二十六屆成立</td></tr>
    <tr><td class="year"></td><td class="date">8/11</td><td class="activity">朝陽跨屆運動會──朝陽兄弟運動大會（二十三屆主辦）</td></tr>
    <tr><td class="year"></td><td class="date">8/28</td><td class="activity">朝陽7th理事會</td></tr>
    <tr><td class="year"></td><td class="date">10/21</td><td class="activity">朝陽二十六屆實驗性活動－－陽光驗會</td></tr>
    <tr><td class="year"></td><td class="date">12/9</td><td class="activity">朝陽二十六屆第一次會員活動－－青春陽一</td></tr>
    <tr><td class="year"></td><td class="date">12/15</td><td class="activity">第二屆朝陽盃壘球紅白對抗賽</td></tr>
    <tr><td class="year">2008年</td><td class="date">1/20</td><td class="activity">朝陽8th理事會</td></tr>
    <tr><td class="year"></td><td class="date">1/30 ~ 31</td><td class="activity">朝陽二十六屆第二次會員活動－－二陽話留</td></tr>
    <tr><td class="year"></td><td class="date">2/3</td><td class="activity">第二屆朝陽年度尾牙</td></tr>
    <tr><td class="year"></td><td class="date">3/1 ~ 2</td><td class="activity">朝陽二十六屆金青幹訓</td></tr>
    <tr><td class="year"></td><td class="date">7/12</td><td class="activity">朝陽9th理事會</td></tr>
    <tr><td class="year"></td><td class="date">7/18 ~ 21</td><td class="activity">朝陽二十六屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">8/6 ~ 7</td><td class="activity">朝陽二十六屆金青幹訓二十七屆</td></tr>
    <tr><td class="year"></td><td class="date">8/17</td><td class="activity">朝陽跨屆運動會──朝陽昇(生)了沒（二十四屆主辦）</td></tr>
    <tr><td class="year"></td><td class="date">9/21</td><td class="activity">朝陽二十七屆實驗性──驗陽first time</td></tr>
    <tr><td class="year"></td><td class="date">11/23</td><td class="activity">朝陽10th理事會</td></tr>
    <tr><td class="year"></td><td class="date">12/14</td><td class="activity">朝陽二十七屆第一次會員活動──得一陽陽</td></tr>
    <tr><td class="year">2009年</td><td class="date">1/22</td><td class="activity">第三屆朝陽年度尾牙</td></tr>
    <tr><td class="year"></td><td class="date">2/7 ~ 8</td><td class="activity">朝陽二十七屆第二次會員活動──陽美two七</td></tr>
    <tr><td class="year"></td><td class="date">3/7 ~ 8</td><td class="activity">朝陽二十七屆金青幹訓</td></tr>
    <tr><td class="year"></td><td class="date">5/24</td><td class="activity">第三屆朝陽盃壘球紅白對抗賽</td></tr>
    <tr><td class="year"></td><td class="date">7/5</td><td class="activity">朝陽11st理事會</td></tr>
    <tr><td class="year"></td><td class="date">7/17 ~ 20</td><td class="activity">朝陽二十七屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">7/25</td><td class="activity">朝陽二十七屆、二十八屆茶會</td></tr>
    <tr><td class="year"></td><td class="date">8/10 ~ 11</td><td class="activity">朝陽二十七屆青山幹訓二十八屆</td></tr>
    <tr><td class="year"></td><td class="date">8/16</td><td class="activity">朝陽跨屆運動會──朝陽金剛-英雄之戰（二十五屆主辦）</td></tr>
    <tr><td class="year"></td><td class="date">9/27</td><td class="activity">朝陽二十八屆實驗性活動──陽光烈驗</td></tr>
    <tr><td class="year"></td><td class="date">12/13</td><td class="activity">朝陽二十八屆第一次會員活動──熱情陽一</td></tr>
    <tr><td class="year">2010年</td><td class="date">1/24</td><td class="activity">朝陽12nd理事會</td></tr>
    <tr><td class="year"></td><td class="date">1/31</td><td class="activity">第四屆朝陽年度尾牙</td></tr>
    <tr><td class="year"></td><td class="date">2/10 ~ 11</td><td class="activity">朝陽二十八屆第二次會員活動──二名遠陽</td></tr>
    <tr><td class="year"></td><td class="date">3/13 ~ 14</td><td class="activity">朝陽二十八屆金青幹訓</td></tr>
    <tr><td class="year"></td><td class="date">5/2</td><td class="activity">第四屆朝陽壘球紅白對抗賽</td></tr>
    <tr><td class="year"></td><td class="date">7/24</td><td class="activity">朝陽13rd理事會</td></tr>
    <tr><td class="year"></td><td class="date">7/16 ~ 19</td><td class="activity">朝陽二十八屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">8/1</td><td class="activity">朝陽14th理事會</td></tr>
    <tr><td class="year"></td><td class="date">8/9 ~ 10</td><td class="activity">朝陽二十八屆青山幹訓二十九屆</td></tr>
    <tr><td class="year"></td><td class="date">8/15</td><td class="activity">朝陽跨屆運動會──下一站，朝陽（二十六屆主辦）</td></tr>
    <tr><td class="year"></td><td class="date">10/17</td><td class="activity">朝陽二十九屆實驗性活動──火炎焱燚</td></tr>
    <tr><td class="year"></td><td class="date">12/5</td><td class="activity">朝陽二十九屆第一次會員活動──陽名立One</td></tr>
    <tr><td class="year"></td><td class="date">12/19</td><td class="activity">朝陽15th理事會</td></tr>
    <tr><td class="year">2011年</td><td class="date">1/30</td><td class="activity">第五屆朝陽年度尾牙</td></tr>
    <tr><td class="year"></td><td class="date">1/31 ~ 2/1</td><td class="activity">朝陽二十九屆第二次會員活動──In二陽善</td></tr>
    <tr><td class="year"></td><td class="date">3/12 ~ 13</td><td class="activity">朝陽二十九屆金青幹訓</td></tr>
    <tr><td class="year"></td><td class="date">7/15 ~ 18</td><td class="activity">朝陽二十九屆畢業生營</td></tr>
    <tr><td class="year"></td><td class="date">7/27</td><td class="activity">朝陽二十九屆、三十屆茶會</td></tr>
    <tr><td class="year"></td><td class="date">7/10</td><td class="activity">朝陽16th理事會</td></tr>
  </table>
</div>
