<div id="p1">
    <img src="season/title.png" class="title"></img>
    <div style="width: 710px;">
        <div class="subtitle"><br><br>創刊號<br>No. 1  2012/1</div>
        <div class="subscribe"><br><br><br><a href="subscribe.php" target="_blank">訂閱電子報</a></div>
        <div class="clear"></div>
    </div>
    <hr width="710px" align="left" style="margin: 10px 0px"/>
    <img src="season/1/big.png" width="500px" class="big"></img>
    <div class="say">
        <div class="say_title">發行人的話：</div>
        <div class="say_content">
            <p>每三個月一次的『朝陽電子季刊』正式登場，網站與月刊是許多朝陽人半年多來的心血，希望您們在閱讀之餘，能夠不吝掌聲，更希望所有的朝陽人有錢出錢、有力出力。</p>
            <p>回顧過去六年來的點點滴滴，不論成功或是失敗，至少朝陽伴伴始終是站在一起，工作伙伴也是前仆後繼地努力著！ 就懷抱著這樣的信念，繼續勇敢走下去吧！！</p>
            <p>敬祝各位我最愛的朝陽伴伴，新年快樂，龍騰虎躍！</p>
        </div>
    </div>
    <div class="clear"></div>
    <hr width="710px" align="left" style="margin: 10px 0px"/>
    <div id="left">
        <a href="season/1/html/專訪于紀隆學長(上).html" target="_blank">
            <div class="block_75">
                <div class="red_75"></div>
                <div class="block_content">
                    <div class="red_title">人物專訪</div>
                    <ul>
                        <li>
                        <span class="block_content_title">第一屆朝陽人 / 于紀隆 (上)</span>
                        <p>想知道優秀的大學長年輕時出國打拚的故事嗎？快來看！絕對獨家、絕對精彩唷！</p>
                        </li>
                    </ul>
                </div>
                <img src="season/1/1_block.png" alt="" class="block_pic" />
            </div>
        </a>
        <hr class="dotline" />
        <a href="season/1/html/朝陽二九畢營.html" target="_blank">
            <div class="block_75">
                <div class="light_green_75"></div>
                <div class="block_content">
                    <div class="light_green_title">高中朝陽活動紀錄</div>
                    <ul>
                        <li>
                        <span class="block_content_title">畢業生營 / 朝陽二九。永垂不朽</span>
                        <p>熱落精彩的畢營又在聽濤話畫下完美的句點，大家一起來回顧29畢營吧！</p>
                        </li>
                    </ul>
                </div>
                <img src="season/1/2_block.png" alt="" class="block_pic" />
            </div>
        </a>
        <hr class="dotline" />
        <a href="season/1/html/朝陽運動會.html" target="_blank">
            <div class="block_75">
                <div class="green_75"></div>
                <div class="block_content">
                    <div class="green_title">臺大朝陽社活動紀錄</div>
                    <ul>
                        <li>
                        <span class="block_content_title">跨屆運動會 / 2011。朝陽奇航</span>
                        <p>喔喔喔 一年一度熱血運動會~ 冠軍是誰?</p>
                        </li>
                    </ul>
                </div>
                <img src="season/1/3_block.png" alt="" class="block_pic" />
            </div>
        </a>
        <hr class="dotline" />
        <a href="season/1/html/朝陽活動人才訓練計畫──團康課.html" target="_blank">
            <div class="block_75">
                <div class="blue_75"></div>
                <div class="block_content">
                    <div class="blue_title">協會活動紀錄</div>
                    <ul>
                        <li>
                        <span class="block_content_title">人才訓練 / 團康帶領</span>
                        <p>獨家報導！！朝陽人專屬團康講堂！</p>
                        </li>
                    </ul>
                </div>
                <img src="season/1/4_block.png" alt="" class="block_pic" />
            </div>
        </a>
    </div>
    <div id="right">
        <div class="block_254">
            <div class="orange_254"></div>
            <div class="block_content">
                <div class="orange_title">專欄分享</div>
                <ul>
                    <a href="season/1/html/朝陽醫聊團.html" target="_blank">
                        <li>
                            <span class="block_content_title">職場經驗 / 牙科知識</span>
                            <p>不再讓你牙痛時求助無門，欽章帶你認識牙醫師的世界</p>
                        </li>
                    </a>
                    <a href="season/1/html/隱形眼鏡會掉色實驗替妳證明.html" target="_blank">
                        <li>
                            <span class="block_content_title">職場經驗 /  時尚美容</span>
                            <p>愛美人士請注意，角膜變色片秘密大公開!!!部落客九咪達人TALK</p>
                        </li>
                    </a>
                    <a href="season/1/html/當父母加你Facebook之後.html" target="_blank">
                        <li>
                            <span class="block_content_title">職場經驗 / 資訊科技</span>
                            <p>到底該不該加父母 Facebook 好友？快來瞧瞧士範如何分析</p>
                        </li>
                    </a>
                    <a href="season/1/html/關於那些年，你做的與沒做的.html" target="_blank">
                        <li>
                            <span class="block_content_title">職場經驗 / 電影分享</span>
                            <p>還記得自己在《那些年》發生了什麼事嗎？阿布的影評讓你重溫那段青澀的回憶</p>
                        </li>
                    </a>
                </ul>
            </div>
            <img src="season/1/5_block.png" alt="" class="block_pic" />
        </div>
        <hr class="dotline" />
        <div class="block_75">
            <div class="brown_75"></div>
            <div class="block_content">
                <div class="brown_title">活動紀錄</div>
                <ul>
                    <a href="season/1/html/朝陽壘球賽.html" target="_blank">
                        <li>
                            <span class="block_content_title">壘球賽 / 2011.11.27 福和球場</span>
                            <p>朝陽明星隊第一場對外友誼賽戰況激烈，結果如何？快來看當天的實況全紀錄!!</p>
                        </li>
                    </a>
                </ul>
            </div>
            <img src="season/1/6_block.png" alt="" class="block_pic" />
        </div>
    </div>
    <div class="clear"></div>
    <hr class="dotline" style="width: 710px;" />
    <div id="bottom">
        <div class="block_95">
            <div class="pink_95"></div>
            <div class="block_content">
                <div class="pink_title">COMING SOON</div>
                <table>
                    <tr>
                        <td><ul><li>2/1~2/3</li></ul></td>
                        <td style="padding-left: 25px;">第一屆朝陽智慧鐵人</td>
                        <td style="padding-left: 18px; padding-right: 10px;"><img src="season/triangle.png" class="triangle" /></td>
                        <td class="bottom_link"><a href="site/ironman/" target="_blank">活動頁面</a></td>
                    </tr>
                    <tr>
                        <td><ul><li>2/4~2/5</li></ul></td>
                        <td style="padding-left: 25px;">30th 第二次會員活動 - 羈二３０</td>
                        <td style="padding-left: 18px; padding-right: 10px;"><img src="season/triangle.png" class="triangle" /></td>
                        <td class="bottom_link"></td>
                    </tr>
                    <tr>
                        <td><ul><li>2/12</li></ul></td>
                        <td style="padding-left: 25px;">丰朝陽-----春酒晚宴</td>
                        <td style="padding-left: 18px; padding-right: 10px;"><img src="season/triangle.png" class="triangle" /></td>
                        <td class="bottom_link"><a href="#news" target="_blank">更多詳情</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <hr style="width: 710px;" align="left" />
    <div id="editors">
        <div id="editors_left">
            <table style="margin-top: 4px; margin-right: 10px;">
                <tr><td>發行人</td><td>陳欽章</td></tr>
                <tr><td>總編輯</td><td>唐啟堯 李孟翰</td></tr>
                <tr><td>主編</td><td>洪巧憓</td></tr>
                <tr><td>編輯</td><td>陳麒文 郭佳恬 卓妍孜 陳佳妤</td></tr>
                <tr><td></td><td>林祐暄 杜雨浩 高偉翔 吳柏勳</td></tr>
            </table>
        </div>
        <div id="editors_right">
            <table style="border-left: solid 1px; margin-top: 4px;">
                <tr><td>作者</td><td>黃瓊瑩 (九咪)  章紜齊 (Taco)</td></tr>
                <tr><td></td><td>謝佩原 (阿布)  楊士範 (Mario)</td></tr>
                <tr><td></td><td>陳欽章 卓妍孜 黃柏堯 洪子喻</td></tr>
                <tr><td></td><td>龍映儒 張芸爾 曹伃君 蔡明翰</td></tr>
                <tr><td>版權所有</td><td>朝陽資優教育交流協會</td></tr>
            </table>
        </div>
        <div class="clear"></div>
    </div>
</div>
